#background_cycler{padding:0;margin:0;width:100%;position:absolute;top:0;left:0;z-index:-1}
#background_cycler img{position:absolute;left:0;top:0;width:100%;z-index:1}
#background_cycler img.active{z-index:3}

/*----------------------------------------------
css settings for HTML div exactCenter 
------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Raleway);
body{
width:100%;
text-align:center;
margin:0 auto;

}

h3,p{
	text-align:center;
	font-family: 'Raleway', sans-serif;
	color:darkgreen;
 }
h2{
	font-family: 'Raleway', sans-serif;
	} 
input{
	width:100%;
	margin-bottom:20px;
	padding:5px;
	height:25px;
	box-shadow: 1px 1px 1px 1px gray;
	border-radius:3px;
 }

select{
    width:105%;
	height:40px;
	margin-bottom:40px;
	margin-top:10px;
	padding:5px;
	box-shadow: 1px 1px 1px 1px gray;
	border-radius:3px;
 }
button{
	width:105%;
	height:45px;
	border-radius:3px;
	background-color: peru;
	color:white;
	font-family: 'Raleway', sans-serif;
	font-size:18px;
}
button#popup{
	height:30px;
	width:150px;
	border-radius:3px;
	background-color: peru;
	color:white;
	font-family: 'Raleway', sans-serif;
	font-size:18px;
}


div#popupContact{
	position: absolute; 
	display: none;
	height:440px; 
	width:280px; 
	padding:20px 30px 20px 15px; 
	background-color:#f3f3f3; 
	border-radius:3px; 
	font-family: 'Raleway', sans-serif;
	} 
  
.title{
	width:50%;
	margin-left:160px;
	}  
 

/*-----------------------------------------------------------------
css settings for right side advertisement
------------------------------------------------------------------*/

#formget{
	float:right;
	margin-top:20px;
	margin-right:50px;
	}	
